<%= form_with(model: groofe, local: true) do |form| %>
  <% if groofe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(groofe.errors.count, "error") %> prohibited this groofe from being saved:</h2>

      <ul>
      <% groofe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :groofe_quantity %>
  </div>

  <div class="field">
    <%= form.label :lot_id %>
    <%= form.text_field :lot_id, id: :groofe_lot_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
