<p id="notice"><%= notice %></p>

<h1>Grooves</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Lot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grooves.each do |groofe| %>
      <tr>
        <td><%= groofe.quantity %></td>
        <td><%= groofe.lot %></td>
        <td><%= link_to 'Show', groofe %></td>
        <td><%= link_to 'Edit', edit_groofe_path(groofe) %></td>
        <td><%= link_to 'Destroy', groofe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groofe', new_groofe_path %>
