<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @groofe.quantity %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @groofe.lot %>
</p>

<%= link_to 'Edit', edit_groofe_path(@groofe) %> |
<%= link_to 'Back', grooves_path %>
