<p id="notice"><%= notice %></p>

<p>
  <strong>Id Surco:</strong>
  <%= @plague_report.groove.id %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @plague_report.description %>
</p>
<%= link_to 'Back', farm_lot_groofe_plague_reports_path %>

<%= include_gon %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(gon.graphic_data);
    
    var options = {
      title: 'Reporte del '+gon.reportDate
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>

<div id="piechart" style="width: 900px; height: 500px;"></div>

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div id="chart_div" style="width: 900px; height: 1200px;"></div>
      

    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);
    
    function drawBasic() {  
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'miutos');
        data.addRows(<%=@data%>)
        
        var options = {
            title: 'Motivation Level Throughout the Day',
            hAxis: {
              title: 'Time of Day',
              format: 'h:mm a',
              viewWindow: {
                min: [7, 30, 0],
                max: [17, 30, 0]
              }
            },
            vAxis: {
              title: 'Rating (scale of 1-10)'
            }
          };
    
          var chart = new google.visualization.ColumnChart(
            document.getElementById('chart_div'));
    
          chart.draw(data, options);
        }
    </script>
  </head>
</html>