<p id="notice"><%= notice %></p>

<div class="center">
  <h1>Reportes de Plagas del Surco <%= @groove.id %></h1>
  <%= link_to 'Volver', farm_lot_grooves_path , {style:'color:#FFFFFF;',class:'btn btn-danger'} %>
  <% if @groove.plague_reports.present?  %>
    <%= render 'form', plague_report: @plague_report %>
    <div class="center">
      <%= render 'graphics/column_chart', plague_report: @plague_report %>
    </div>
  <% else %>
    <h3 class="center">Este surco no tiene reportes aún</h3>
  <% end %>
</div>