<p id="notice"><%= notice %></p>

<h3>Reporte del día <%= @plague_report.reportDate %></h3>
<p>
  <strong>Descripción:</strong>
  <%= @plague_report.description %>
</p>
<%= link_to 'Atrás', farm_lot_groofe_plague_reports_path %>
<%= render 'heatmap_chart'%>
<%= render 'heatline_chart' %>
<%= render 'pie_chart' %>




