<p id="notice"><%= notice %></p>

<h3>Reporte del día <%= @plague_report.reportDate %></h3>
<p>
  <strong>Descripción:</strong>
  El surco <%= @plague_report.groove.name  %>
</p>

<%= link_to 'Atrás', farm_lot_groofe_plague_reports_path , {style:'color:#FFFFFF;',class:'btn btn-danger'} %>

<%# <%= render 'heatmap_chart'%> %>
<div class="left"><%= render 'heatline_chart' %></div>
<div class="right"><%= render 'pie_chart' %></div>




