<%= form_with(url: farm_lots_path, local: true) do |form| %>
  <% if lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
      <% lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name,"Nombre del lote" %>
    <%= text_field :lot,:name, id: :lot_name,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :location,"Ubicación"%>
    <%= text_field :lot,:location, id: :lot_location,class:"form-control" %>
  </div>

  <div class="field">
    <%= hidden_field(:lot, :farm_id, value: @farm.id) %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Aceptar", {class:'btn btn-success right-button'} %>
  </div>
<% end %>
